*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #1E1E1E;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  z-index: 100;
  max-width: 89.5rem;
  margin: auto;
}

html, body {
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
  font-weight: normal;
  color: #fff;
}

h1, h2:not(.page-title) {
  font-family: "Montserrat", sans-serif;
}

.title.tl-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.title h1, .title h2 {
  display: inline;
  text-transform: uppercase;
  line-height: 75%;
  border-bottom: 0.1rem solid #fff;
}
.title h1 {
  font-size: 3.6rem;
  padding-bottom: 1rem;
}
.title h2 {
  font-size: 3.2rem;
}
.title p {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 365px) {
  .title h2 {
    font-size: 2.4rem;
  }
  .title p {
    font-size: 1rem !important;
  }
}
@media (max-width: 320px) {
  .title p {
    text-align: center;
  }
}
.line {
  max-width: 74.5rem;
  height: 0.1rem;
  background: #fff;
  margin: 3.9rem auto 0;
}

.card {
  overflow: hidden;
  max-width: 30.3rem;
  height: 15.6rem;
  width: 100%;
  position: relative;
  perspective: 100rem;
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.card__front {
  box-shadow: 0px 4px 4px rgba(148, 134, 134, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__front span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54));
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.card__back {
  font-size: 1.6rem;
  font-weight: 400;
}
.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 1s;
  backface-visibility: hidden;
}
.card__back {
  background: #1E1E1E;
  transform: rotateY(180deg);
}
.card:hover .card__front {
  transform: rotateY(180deg);
}
.card:hover .card__back {
  transform: rotateY(360deg);
}
.card:not(:last-child) {
  margin-bottom: 2.3rem;
}

.main-block {
  margin-top: 3.8rem;
}
.main-block h2 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
}
.main-block__text > p {
  margin-top: 4.4rem;
  font-size: 1.6rem;
  line-height: 117%;
  max-width: 39.7rem;
}
.main-block__bottom {
  margin-top: 2.8rem;
  display: flex;
  align-items: center;
}
.main-block__bottom img {
  max-width: 31.8rem;
  max-height: 34.8rem;
  margin-right: 11.3rem;
}

@media (max-width: 840px) {
  .main-block__bottom {
    flex-direction: column-reverse;
  }
  .main-block__bottom img {
    margin-right: 0;
    margin-top: 1rem;
  }
}
@media (max-width: 430px) {
  .main-block .title {
    padding-right: 1rem;
  }
  .main-block .title h1 {
    font-size: 2.7rem;
  }
  .main-block .title p {
    font-size: 1rem;
  }
  .main-block__text > p {
    padding: 0 1rem;
  }
}
@media (max-width: 320px) {
  .main-block .title.tl-right {
    align-items: center;
  }
  .main-block .title.tl-right h1 {
    font-size: 2.4rem;
  }
}
.about-block__text p {
  margin-top: 4.6rem;
  font-size: 1.6rem;
  line-height: 117%;
  max-width: 49.6rem;
}
.about-block__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4.5rem;
}
.about-block__cards {
  margin-top: 4.5rem;
}

@media (max-width: 905px) {
  .about-block__bottom {
    display: block;
  }
  .about-block__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-block__text > p {
    padding: 0 1rem;
  }
  .about-block__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.etaps-block__bottom {
  margin-top: 2.9rem;
  display: flex;
  align-items: stretch;
}
.etaps-block__text {
  margin-right: 7.034rem;
}
.etaps-block__text > p {
  margin-top: 4.6rem;
  line-height: 117%;
  font-size: 1.6rem;
  max-width: 44.852rem;
}
.etaps-block__timeline img {
  max-width: 37.614rem;
  max-height: 36.6rem;
}

@media (max-width: 905px) {
  .etaps-block__bottom {
    flex-direction: column;
    align-items: center;
  }
  .etaps-block__text {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .etaps-block__text > p {
    padding: 0 1rem;
  }
}
@media (max-width: 500px) {
  .etaps-block__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.pay-block .title {
  margin: 2.9rem 0;
}

@media (max-width: 905px) {
  .pay-block .title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.copyright {
  margin: 16.6rem 0 4rem;
}
.copyright p {
  font-size: 1.6rem;
  text-align: center;
}

.etaps-block__timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 37.6rem;
  width: 100%;
}
.etaps-block__timeline .timeline {
  height: 34.3rem;
  width: 0.1rem;
  background-color: #fff;
}
.etaps-block__timeline .timeline__cyrcle {
  margin-left: -0.664rem;
  width: 1.427rem;
  height: 1.4rem;
  border-radius: 50%;
  background: #fff;
  transition: 1s;
}
.etaps-block__timeline .timeline__cyrcle span {
  position: absolute;
  font-size: 1.6rem;
  white-space: nowrap;
  margin-top: -0.6rem;
  transition: 1s;
}
.etaps-block__timeline .timeline__cyrcle:nth-child(odd) span {
  margin-left: -14rem;
  width: 15%;
  text-align: right;
}
.etaps-block__timeline .timeline__cyrcle:nth-child(even) span {
  margin-left: 1.8rem;
}
.etaps-block__timeline .timeline__cyrcle:not(:last-child) {
  margin-bottom: 3.5rem;
}
.etaps-block__timeline .timeline__cyrcle:hover {
  background: yellow;
}
.etaps-block__timeline .timeline__cyrcle:hover span {
  font-size: 1.7rem;
  color: yellow;
}

@media (max-width: 430px) {
  .etaps-block__timeline {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
