.etaps-block__timeline {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 37.6rem;
	width: 100%;
	.timeline {
		height: 34.3rem;
		width: 0.1rem;
		background-color: #fff;



		&__cyrcle {
			margin-left: -0.664rem;
			width: 1.427rem;
			height: 1.4rem;
			border-radius: 50%;
			background: #fff;
			transition: 1s;
			
			span {
				position: absolute;
				font-size: 1.6rem;
				white-space: nowrap;
				margin-top: -.6rem;
				transition: 1s;
			}
			&:nth-child(odd) {
				span {
					margin-left: -14rem;
					width: 15%;
					text-align: right;
				}
			}
			&:nth-child(even) {
				span {
					margin-left: 1.8rem;
				}
			}
			

			&:not(:last-child) {
				margin-bottom: 3.5rem;
			}

			&:hover {
				background: yellow;
				span {
					font-size: 1.7rem;
					color: yellow;
				}
				
			}
		}
	}
}


@media (max-width: 430px) {
	.etaps-block__timeline {
		display: none;
	}
}