include ../mixin

-
	const cards = [
		{
			"title": "Front-end",
			"content": "Front-end разработчик создает видимую для пользователя часть веб-страницы и его главная задача – точно передать в верстке то, что создал дизайнер, а также реализовать пользовательскую логику.",
			"img": "img/front.jpg"
		},
		{
			"title": "Back-end",
			"content": "Back-end разработчик — программист, который пишет серверный код, отвечает за реакцию ресурса на действия пользователя и выдачу информации.",
			"img": "img/back.jpg"
		}
	];


section.about-block
	+line
	.about-block__bottom
		.about-block__text
			+createTitle('Front & Back -end', 'Ответвления в веб-разработке')
			p.
				Когда говорят “веб-разработчик”, как правило, имеют в виду фронтендера, который разбирается в бэкенде. Да, конечно, большая часть работы — это фронтенд, то есть всё, что видит и с чем взаимодействует пользователь. Но современному веб-разработчику всё чаще приходится разрабатывать весь бэкенд или какие-то его части на Node.js
		.about-block__cards
			each card in cards
				+card(card.title, card.content, card.img)
				- ;
