section.copyright.wow.fadeInUp(data-wow-duration="1s")
	p Сайт создан студентом  ГБПОУ РМ "Зубово-Полянский педагогический колледж" Сидельником Андреем Александровичем Всероссийский заочный конкурс творческих проектов «Мир IT», проект 1. Web-разработчик. Дата 06.11.2022