include ../mixin.pug

section.main-block.wow.fadeInDown(data-wow-duration="1s")
	.main-block__top
		h2.page-title #{siteTitle}
	.main-block__bottom
		img(src="img/banner.png", alt="Баннер сайта. Мучина сидит за компьютером")
		.main-block__text
			+createTitle("Web-разработчик", "Кто это и как он работает", true)
			p.
				Веб-разработчик создает новые сервисы и сайты или поддерживает и дополняет существующие. Он изучает задачу заказчика и помогает создать оптимальное решение, готовит код для фронтенда и бэкенда, тестирует его, исправляет ошибки и оценивает результаты.