//- Главная страница сайта
extends base
block content
	main
		.container
			include ./pug/components/main-block
			include ./pug/components/about-block
			include ./pug/components/etaps-block
			include ./pug/components/pay-block
			include ./pug/components/copy-block